<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--
    Ref: https://stackoverflow.com/questions/54462110/angular-7-integration-with-stenciljs-problem-cannot-find-module-test-componen
    Ref: https://stenciljs.com/docs/angular

    You need to install the webcomponent first in your project.
    npm install @adaept/ae-icons-component

    Steps to integrate aeicons stencil webcomponent for Angular are as follows:

    1. Install component in angular project (npm install <module-name>)
    2. Enable custom element schema in app.module.ts
      (import { CUSTOM_ELEMENTS_SCHEMA, NgModule } from '@angular/core';)
      (schemas: [CUSTOM_ELEMENTS_SCHEMA])
    3. Import component in app.component.ts
      (import * as <name> from 'test-components/dist/loader';)
      e.g. import * as AeIconsComponent from '@adaept/ae-icons-component/dist/loader';
    4. Register component to the registry e.g. main.ts
      (<name>.defineCustomElements(window);)
      import { defineCustomElements } from '@adaept/ae-icons-component/dist/loader';
    5. Use selector of your stencil component wherever you want in your project
      e.g. <ae-icons-component aesize="ae32" name="baseball" color="yellow"></ae-icons-component>

    This commit: https://github.com/peterennis/ionic-stencil-angular-component-integration/commit/5c6787a5ce722f77ce005058abb85d428b60118b
    -->

  <div style="width: 100vw;">
    <ae-icons-component aesize="ae32" name="baseball" color="yellow"></ae-icons-component>
    <ae-icons-component aesize="ae32" name="football" color="red"></ae-icons-component>
    <ae-icons-component aesize="ae32" name="basketball" color="green"></ae-icons-component>
    <ae-icons-component aesize="ae32" name="tennisball" color="blue"></ae-icons-component>
  </div>

</ion-content>